[Unit]
Description=Announcing DoorBird doorbell via mTLS

[Service]
WorkingDirectory=/opt/doorbird-mdns-announcer
User=%USER
Type=simple
ExecStart=python3 announcer.py -a %ANNOUNCE
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
